---
import img0 from "/images/0.jpg";
import img1 from "/images/1.jpg";
import img2 from "/images/2.jpg";
import img3 from "/images/3.jpg";
import img4 from "/images/4.jpg";
import img5 from "/images/5.jpg";
import img6 from "/images/6.jpg";
import img7 from "/images/7.jpg";
import img8 from "/images/8.jpg";
import img9 from "/images/9.jpg";
import img10 from "/images/10.jpg";
import img11 from "/images/11.jpg";
import img12 from "/images/12.jpg";
import img13 from "/images/13.jpg";
import img14 from "/images/14.jpg";
import img15 from "/images/15.jpg";
import img16 from "/images/16.jpg";
import img17 from "/images/17.jpg";
import img18 from "/images/18.jpg";
import img19 from "/images/19.jpg";
import img20 from "/images/20.jpg";
import img21 from "/images/21.jpg";
import img22 from "/images/22.jpg";
import img23 from "/images/23.jpg";
import img24 from "/images/24.jpg";
import img25 from "/images/25.jpg";
import img26 from "/images/26.jpg";
---

<div class="flex flex-row justify-evenly gap-4 flex-wrap ">
  <!-- {imgs.map((img:string) => (
      
    ))} -->

  <img
    class="rounded-md shadow-xs"
    src={img0}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img1}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img2}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img3}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img4}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img5}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img6}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img7}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img8}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />

  <img
    class="rounded-md shadow-xs"
    src={img9}
    width="300"
    alt="Steens Mountain fall colors from Fish Creek Canyon"
  />
</div>
